		<section class="bg-primary" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto text-center">
						<h2 class="section-heading text-white">Edit <%= resource_name.to_s.humanize %></h2>
						<hr class="light my-4">
						<p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>

						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
						<%= devise_error_messages! %>

						<div align="center">

							<div class="form-group">
								<div class="form-group col-md-6">
									<div class="field">
										<h5><%= f.label :email %></h5>
										<%= f.email_field :email, autofocus: true, class: "form-control" %>
									</div>
								</div>
							</div>

							<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
							<div class="form-group">
								<div class="form-group col-md-6">
									<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
								</div>
							</div>
							<% end %>

							<div class="form-group">
								<div class="form-group col-md-6">
									<div class="field">
										<h5><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></h5>
										<%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
										<% if @minimum_password_length %>
										<br />
										<em><%= @minimum_password_length %> characters minimum</em>
										<% end %>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="form-group col-md-6">
									<div class="field">
										<h5><%= f.label :password_confirmation %></h5>
										<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="form-group col-md-6">
									<div class="field">
										<h5><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></h5>
										<%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<div class="actions">
										<%= f.submit "Update", class: 'btn btn-light btn-xl js-scroll-trigger'  %>
									</div>
									<% end %>
								</div>
							</div>

							<br>

							<div class="form-group">
								<div class="form-group col-md-6">
									<h5>Cancel my account</h5>
									<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-light js-scroll-trigger' %></p>
									<%= link_to "Back", :back, class: 'btn btn-light js-scroll-trigger' %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
