		<section class="bg-primary" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto text-center">
						<h2 class="section-heading text-white">Sign Up</h2>
						<hr class="light my-4">
						<p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>

						<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<%= devise_error_messages! %>

						<div align="center">
							
							<div class="form-group">
								<div class="form-group col-md-6">
									<div class="field">
										<h5><%= f.label :email %><br /></h5>
										<%= f.email_field :email, autofocus: true, class: "form-control", value: "email@example.com"%>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="form-group col-md-6">
									<div class="field">
										<h5><%= f.label :password %></h5>
										<% if @minimum_password_length %>
										<em>(<%= @minimum_password_length %> characters minimum)</em>
										<% end %>
										<br>
										<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="form-group col-md-6">	
									<div class="field">
										<h5><%= f.label :password_confirmation %></h5>
										<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
									</div>
								</div>
							</div>

						</div>

						<br>

						<div class="row">
							<div class="col">
								<div class="actions">
									<%= f.submit "Sign up", class: 'btn btn-light btn-xl js-scroll-trigger' %>
									<% end %>
								</div>
							</div>
						</div>
						<br>
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</section>